<!-- Button Skillset -->
<button type="button" class="bg-white text-secondary px-4 py-1 rounded-[25px] h-[50px] text-[20px] font-relewaySemiBold">
    Button Component
</button>

<!-- Button Conctact -->

<button type="button" class="bg-yellowlighter text-secondary px-6 py-1 rounded-[47px] h-[53px] w-[321px] text-[18px] font-robotoBold flex gap-8 items-center justify-start">
    <span><img src="./src/Assets/media/Message-envilope-icon.svg" alt=""></span>
    <span>Nachricht schreiben</span>
</button>