
<div class="grid grid-cols-3 gap-[80px] px-[86px]">
  
    <div class="flex gap-[24px] items-center">
      <div>
        <img src="/src/Assets/media/Hand-coins-icon.svg" alt="">
      </div>
      <div>
      <h5 class="text-primary font-montBold text-[20px]">Kostengünstig</h5>
    <p class="text-white font-montRegular text-[20px]"> niedriges Lohnkostenniveau im europäischen Vergleich</p>
    
     </div>
    </div>
    <div class="flex gap-[24px] items-center">
      <div>
        <img src="/src/Assets/media/Hand-coins-icon.svg" alt="">
      </div>
      <div>
      <h5 class="text-primary font-montBold text-[20px]">Kostengünstig</h5>
    <p class="text-white font-montRegular text-[20px]"> niedriges Lohnkostenniveau im europäischen Vergleich</p>
    
     </div>
    </div>
    <div class="flex gap-[24px] items-center">
      <div>
        <img src="/src/Assets/media/Hand-coins-icon.svg" alt="">
      </div>
      <div>
      <h5 class="text-primary font-montBold text-[20px]">Kostengünstig</h5>
    <p class="text-white font-montRegular text-[20px]"> niedriges Lohnkostenniveau im europäischen Vergleich</p>
    
     </div>
    </div>
  </div>
  