
    <div id="expand" class="p-8">
      <div class="flex justify-center gap-x-28">
        <div id="collapsible" class="w-[511px] p-4">
          <div id="expand-more" class="flex justify-between border-b-4 border-primary py-2 px-2">
            <h3 class="font-montBold text-[20px]">Remote</h3>
            <img src="/src/Assets/media/Plus-icon.svg" class="" />
          </div>
          <div id="expanded-text" class= " font-montMedium text-[20px] h-0 overflow-hidden">
            <p class="py-5">
              Alle Entwickler:innen durchlaufen eine 6-monatiges
              <span class="text-primary">Trainingsprogramm</span> in Vollzeit bei uns Vorort im
              Office in Kigali. Hier werden die technischen Fähigkeiten und
              sozialen Kompetenzen für die Arbeit im Projekt vertieft.
            </p>
          </div>
        </div>

       
        
      </div>
    </div>
