<footer class="flex flex-col py-12 lg:flex-row text-white justify-between items-center lg:h-[270px] ">
    <div class="logo lg:w-2/3">
        <img src="/src/Assets/media/Ojemba-logo.svg" alt="" height="66" width="224">
    </div>
    <nav class="lg:w-2/3 font-robotoBold text-[1.125rem]">
        <ul class="flex py-8 flex-col gap-8 lg:flex-row justify-evenly">
            <li><a href="#">Impressum</a></li>
            <li><a href="#">Datenschutz</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Kontakt</a></li>
        </ul>
    </nav>
</footer>