
<header id="header" class="flex items-center  justify-between py-[24px]">



    <div class="logo">
        <img src="/src/Assets/media/Ojemba-logo.svg" alt="lll">
    </div>
    
    <nav>

        <div class="lg:hidden w-[20px] relative left-14" >
            <img src="/src/Assets/media/menu-icon.svg" alt="">
        </div>
        

        <ul class=" hidden lg:flex font-robotoBold text-white gap-[32px] text-[18px] lg:relative left-[170px]" >
            <li><a href="#">Services</a></li>
            <li><a href="#">Über uns</a></li>
            <li><a href="#">Darum wir</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Über Ruanda</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Kontakt</a></li>
            <li class="flex flex-col">
                <a href="#">DE</a>
                <a href="#" class="font-montRegular">EN</a>
            </li>

        </ul>
    </nav>
    <div>
        
    </div>
</header>