
    <section  class="grid  lg:grid-cols-2 mt-[50px]">
        <div class="text-white text-[30px] lg:text-[50px] font-ralewayBold leading-tight lg:w-[120%]">
    <p>Win-Win:</p>
    <p class="flex gap-5"> <span>Europas</span> <span  class="text-primary">Digitalisierung </span></p>
    <p>profitiert von Afrikas Talenten</p>
     <p class="text-sm font-montRegular lg:mt-[20px]">Erweiteren Sie Ihre Entwicklungsteams mit Ojemba</p>
    </div>
    
    
    <div class="lg:overflow-x-hidden lg:-ml-10 lg:translate-x-10 lg:translate-y-11 lg:scale-125 lg:relative left-[40px]">
        <img class="" src="/src/Assets/media/Ojembees1.webp" alt="picture of ojemba developers">
    </div>
    </section>
</section>
