<div class="bg-white transform skew-y-3  py-44">
    <div class="px-4 lg:wrapper-lg faq -skew-y-3 mb-[36px]">
        <h4 class="font-ralewayBold text-[30px] lg:text-[36px] ">Fragen und Antworten</h4>
        <p class="font-montMedium text-[16px] pt-8 w-[80%] lg:text-[20px] lg:w-[50%]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consequat nec sapien ac sodales. Sed vitae urna nisi. Morbi congue tincidunt porttitor. Aliquam sed venenatis quam, ac vulputate justo. Donec ullamcorper nunc quis sem bibendum, ut molestie lorem lobortis.</p>
        <ul class="grid w-[100%] justify-center  mx-auto mt-[68px] pb-12 gap-20 lg:pb-[280px] lg:grid-cols-2 lg:w-[70%] lg:gap-32 ">
            <li>
                <div id="" class="collapsiblew-[100%] ">
                    <div id="expanded-text-less" class="expand-more flex justify-between border-b-4 border-primary py-2 px-2">
                        <h3 class="font-montBold text-[20px]">Welche Frage steht hier?</h3>
                        <img src="/src/Assets/media/Plus-icon.svg" class="plus"  alt="Plus-Minus"/>
                    </div>
                    <div id="expanded-text-more" class= "font-montMedium text-[20px] overflow-hidden hidden">
                        <p class="py-5">
                        Alle Entwickler:innen durchlaufen eine 6-monatiges
                        <span class="text-primary">Trainingsprogramm</span> in Vollzeit bei uns Vorort im
                        Office in Kigali. Hier werden die technischen Fähigkeiten und
                        sozialen Kompetenzen für die Arbeit im Projekt vertieft.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div id="" class="collapsiblew-[100%] ">
                    <div id="expanded-text-less" class="expand-more flex justify-between border-b-4 border-primary py-2 px-2">
                        <h3 class="font-montBold text-[20px]">Welche Frage steht hier?</h3>
                        <img src="/src/Assets/media/Plus-icon.svg" class="plus" alt="Plus-Minus" />
                    </div>
                    <div id="expanded-text-more" class= "font-montMedium text-[20px] overflow-hidden hidden">
                        <p class="py-5">
                        Alle Entwickler:innen durchlaufen eine 6-monatiges
                        <span class="text-primary">Trainingsprogramm</span> in Vollzeit bei uns Vorort im
                        Office in Kigali. Hier werden die technischen Fähigkeiten und
                        sozialen Kompetenzen für die Arbeit im Projekt vertieft.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div id="" class="collapsiblew-[100%] ">
                    <div id="expanded-text-less" class="expand-more flex justify-between border-b-4 border-primary py-2 px-2">
                        <h3 class="font-montBold text-[20px]">Welche Frage steht hier?</h3>
                        <img src="/src/Assets/media/Plus-icon.svg" class="plus"  alt="Plus-Minus"/>
                    </div>
                    <div id="expanded-text-more" class= "font-montMedium text-[20px] overflow-hidden hidden">
                        <p class="py-5">
                        Alle Entwickler:innen durchlaufen eine 6-monatiges
                        <span class="text-primary">Trainingsprogramm</span> in Vollzeit bei uns Vorort im
                        Office in Kigali. Hier werden die technischen Fähigkeiten und
                        sozialen Kompetenzen für die Arbeit im Projekt vertieft.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div id="" class="collapsiblew-[100%] ">
                    <div id="expanded-text-less" class="expand-more flex justify-between border-b-4 border-primary py-2 px-2">
                        <h3 class="font-montBold text-[20px]">Welche Frage steht hier?</h3>
                        <img src="/src/Assets/media/Plus-icon.svg" class="plus" alt="Plus-Minus" />
                    </div>
                    <div id="expanded-text-more" class= "font-montMedium text-[20px] overflow-hidden hidden">
                        <p class="py-5">
                        Alle Entwickler:innen durchlaufen eine 6-monatiges
                        <span class="text-primary">Trainingsprogramm</span> in Vollzeit bei uns Vorort im
                        Office in Kigali. Hier werden die technischen Fähigkeiten und
                        sozialen Kompetenzen für die Arbeit im Projekt vertieft.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div id="" class="collapsiblew-[100%] ">
                    <div id="expanded-text-less" class="expand-more flex justify-between border-b-4 border-primary py-2 px-2">
                        <h3 class="font-montBold text-[20px]">Welche Frage steht hier?</h3>
                        <img src="/src/Assets/media/Plus-icon.svg" class="plus"  alt="Plus-Minus"/>
                    </div>
                    <div id="expanded-text-more" class= "font-montMedium text-[20px] overflow-hidden hidden">
                        <p class="py-5">
                        Alle Entwickler:innen durchlaufen eine 6-monatiges
                        <span class="text-primary">Trainingsprogramm</span> in Vollzeit bei uns Vorort im
                        Office in Kigali. Hier werden die technischen Fähigkeiten und
                        sozialen Kompetenzen für die Arbeit im Projekt vertieft.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div id="" class="collapsiblew-[100%] ">
                    <div id="expanded-text-less" class="expand-more flex justify-between border-b-4 border-primary py-2 px-2">
                        <h3 class="font-montBold text-[20px]">Welche Frage steht hier?</h3>
                        <img src="/src/Assets/media/Plus-icon.svg" class="plus" alt="Plus-Minus" />
                    </div>
                    <div id="expanded-text-more" class= "font-montMedium text-[20px] overflow-hidden hidden">
                        <p class="py-5">
                        Alle Entwickler:innen durchlaufen eine 6-monatiges
                        <span class="text-primary">Trainingsprogramm</span> in Vollzeit bei uns Vorort im
                        Office in Kigali. Hier werden die technischen Fähigkeiten und
                        sozialen Kompetenzen für die Arbeit im Projekt vertieft.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="px-4  lg:pb-[210px]  flex flex-col gap-8 lg:gap-[48px] lg:wrapper-lg transform -skew-y-3">
        <h4 class="font-ralewayBold text-[36px]">
            Nehmen Sie Kontakt zu uns auf!
        </h4>
        <button type="button" class="bg-yellowlighter text-secondary px-6 py-1 rounded-[47px] h-[53px] w-[321px] text-[18px] font-robotoBold flex gap-8 items-center justify-start">
            <span><img src="./src/Assets/media/Message-envilope-icon.svg" alt=""></span>
            <span>Nachricht schreiben</span>
        </button>
    </div>
</div>
<script src="./src/script.js"></script>
<script type="module" src="./src/main.js"></script>
