<div class="transform">
  <div id="" class="bg-white px-32 py-44 transform">
    <div class="md:w-[940px] flex-col space-y-3">
      <div class="font-ralewayBold text-darkergray">
        <h3 class="text-[20px]">Managed Team</h3>
      </div>
      <div class="space-y-5">
      <div class="font-ralewayBold">
        <p class="text-[24px] md:text-[36px] md:w-[60%] leading-[40px]">
          Skalieren Sie langfristig Ihre
          <span class="text-primarydarker">Softwareentwicklungsteams</span> ohne
          langwieriges Recruitment
        </p>
      </div>
      <div class="font-montMedium leading-[28px]">
        <p class="w-full text-[20px]">
          kurz beschreiben was und für wen Managed Teams sind anbieten ipsum dolor
          sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
          vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
          gubergren, no sea takimata sanctus est L
        </p>
      </div>
       </div>
    </div>
    <div class="md:space-x-36">
    <div id="textWithLine" class="relative py-4  md:w-[564px]">
      <h1 class="absolute font-ralewayBold text-[20px] md:text-[26px] z-10 text-[#040404]">So arbeitet Ojemba</h1>
      <div class="relative bg-primary w-[92.24px] h-[8px] -rotate-[3.11deg] top-6 left-10 z-0 opacity-[40%]"></div>
    </div>
    <div class="flex  md:justify-center flex-col md:flex-row  md:px-32 md:space-x-[93px]">
      <div id="collapsible" class="md:w-[511px] p-4">
        <div id="expand-more" class="md:w-[496px] flex justify-between border-b-4 border-primary py-2 px-2">
          <h3 class="font-montBold text-[20px]">Remote</h3>
          <img src="/src/Assets/media/Plus-icon.svg" class=""/>
        </div>
        <div id="expanded-text" class= "font-montMedium text-[20px] h-0 overflow-hidden">
          <p class="py-5">
            Alle Entwickler:innen durchlaufen eine 6-monatiges
            <span class="text-primary">Trainingsprogramm</span> in Vollzeit bei uns Vorort im
            Office in Kigali. Hier werden die technischen Fähigkeiten und
            sozialen Kompetenzen für die Arbeit im Projekt vertieft.
          </p>
        </div>
      </div>
      <div id="collapsible" class="md:w-[511px] p-4">
          <div id="expand-more" class="md:w-[496px] flex justify-between border-b-4 border-primary py-2 px-2">
            <h3 class="font-montBold text-[20px]">Englischsprachig</h3>
            <img src="/src/Assets/media/Plus-icon.svg" class="" />
          </div>
          <div id="expanded-text" class= "font-montMedium text-[20px] h-0 overflow-hidden">
            <p class="py-5">
              Alle Entwickler:innen durchlaufen eine 6-monatiges
              <span class="text-primary">Trainingsprogramm</span> in Vollzeit bei uns Vorort im
              Office in Kigali. Hier werden die technischen Fähigkeiten und
              sozialen Kompetenzen für die Arbeit im Projekt vertieft.
            </p>
          </div>
        </div>
  
   
    </div>
     </div>
  
     <div class="mt-10 space-y-5 md:w-[1393px] md:mt-16  md:space-x-36">
      <div id="textWithLine" class="relative md:w-[564px] py-5">
        <h1 class="absolute font-ralewayBold text-[20px] md:text-[26px] z-10 text-[#040404]">Ihre Vorteile mit Ojembas Managed Teams</h1>
        <div class="relative bg-primary w-[92.24px] h-[8px] -rotate-[3.11deg] top-6 left-10 z-0 opacity-[40%] "></div>
      </div>
      <div class="mt-10 flex flex-col md:flex-row md:px-32 md:space-x-[93px]">
        <div id="collapsible" class="md:w-[511px] p-4">
          <div id="expand-more" class="md:w-[496px] flex justify-between border-b-4 border-primary py-2 px-2">
            <h3 class="font-montBold text-[20px]">Hohe Qualität </h3>
            <img src="/src/Assets/media/Plus-icon.svg" class="" />
          </div>
          <div id="expanded-text" class= " font-montMedium text-[20px] h-0 overflow-hidden">
            <p class="py-5">
              Alle Entwickler:innen durchlaufen eine 6-monatiges
              <span class="text-primary">Trainingsprogramm</span> in Vollzeit bei uns Vorort im
              Office in Kigali. Hier werden die technischen Fähigkeiten und
              sozialen Kompetenzen für die Arbeit im Projekt vertieft.
            </p>
          </div>
        </div>
        <div id="collapsible" class="md:w-[511px] p-4">
            <div id="expand-more" class="md:w-[496px] flex justify-between border-b-4 border-primary py-2 px-2">
              <h3 class="font-montBold text-[20px]">100% Verantwortung</h3>
              <img src="/src/Assets/media/Plus-icon.svg" class="" />
            </div>
            <div id="expanded-text" class= " font-montMedium text-[20px] h-0 overflow-hidden">
              <p class="py-5">
                Alle Entwickler:innen durchlaufen eine 6-monatiges
                <span class="text-primary">Trainingsprogramm</span> in Vollzeit bei uns Vorort im
                Office in Kigali. Hier werden die technischen Fähigkeiten und
                sozialen Kompetenzen für die Arbeit im Projekt vertieft.
              </p>
            </div>
          </div>
    
       
        
      </div>
      <div class="flex flex-col md:flex-row md:px-32 md:space-x-[93px] md:mt-32">
          <div id="collapsible" class="md:w-[511px] p-4">
            <div id="expand-more" class="md:w-[496px] flex justify-between border-b-4 border-primary py-2 px-2">
              <h3 class="font-montBold text-[20px]">Riesiger Talentepool</h3>
              <img src="/src/Assets/media/Plus-icon.svg" class="" />
            </div>
            <div id="expanded-text" class= "font-montMedium text-[20px] h-0 overflow-hidden">
              <p class="py-5">
                Alle Entwickler:innen durchlaufen eine 6-monatiges
                <span class="text-primary">Trainingsprogramm</span> in Vollzeit bei uns Vorort im
                Office in Kigali. Hier werden die technischen Fähigkeiten und
                sozialen Kompetenzen für die Arbeit im Projekt vertieft.
              </p>
            </div>
          </div>
          <div id="collapsible" class="md:w-[511px] p-4 ">
              <div id="expand-more" class="md:w-[496px] flex justify-between border-b-4 border-primary py-2 px-2">
                <h3 class="font-montBold text-[20px]">Risikoarm</h3>
                <img src="/src/Assets/media/Plus-icon.svg" class="" />
              </div>
              <div id="expanded-text" class= " font-montMedium text-[20px] h-0 overflow-hidden">
                <p class="py-5">
                  Alle Entwickler:innen durchlaufen eine 6-monatiges
                  <span class="text-primary">Trainingsprogramm</span> in Vollzeit bei uns Vorort im
                  Office in Kigali. Hier werden die technischen Fähigkeiten und
                  sozialen Kompetenzen für die Arbeit im Projekt vertieft.
                </p>
              </div>
            </div>
      
  
        </div>
       </div>
       <div class="space-y-3 mt-5 md:w-[1690px]  md:mt-28">
          <div class="font-ralewayBold text-darkergray">
            <h3 class="text-[20px]">African Team Box</h3>
          </div>
          <div class="space-y-5">
          <div class="font-ralewayBold">
            <p class="text-[25px] md:text-[36px] md:w-[60%] leading-[40px]">
              MVPs, QuickWins und schnelle Ergebnisse
  
            </p>
          </div>
          <div class="font-montMedium leading-[28px] md:flex items-center md:gap-x-24">
            <p class="text-[20px] md:w-[55%]">
              kurz beschreiben was und für wen Managed Teams sind anbieten ipsum dolor
              sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
              invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
              vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
              gubergren, no sea takimata sanctus est L
            </p>
            <img src="/src/Assets/media/Mw-logo.svg" alt="maibornwolf logo" class="hidden md:block">
          </div>
           </div>
           
           <div>
           <div id="expand-more" class="flex items-center justify-between border-b-4 border-primarydarker py-2 px-2">
              <h3 class="font-montBold text-[20px]">African Team Box</h3>
              <img src="/src/Assets/media/Expand-more-icon.svg" class="" />
            </div>
            <div></div>
          </div>
        </div>
  </div>
</div>