<section class=" text-white flex  gap-[80px] px-[80px] py-[30px] backdrop-opacity-10 backdrop-invert bg-secondary/90">
    <article class="card w-[calc(100%/3)]">
      <h5 class="font-montBold text-[20px] mb-[20px]">Clever:</h5>
      <p class="font-montRegular italic text-[16px]">“d diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam“</p>
    </article>
    <article class="card w-[calc(100%/3)]">
      <h5 class="font-montBold text-[20px] mb-[20px]">Clever:</h5>
      <p class="font-montRegular italic text-[16px]">“d diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam“</p>
    </article>
    <article class="card w-[calc(100%/3)]">
      <h5 class="font-montBold text-[20px] mb-[20px]">Clever:</h5>
      <p class="font-montRegular italic text-[16px]">“d diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam“</p>
    </article>
  </section>