<div class="flex flex-col  py-[120px]">
    <div class=" text-white flex flex-col gap-5 lg:gap-9 lg:w-[50%]">
    
    
    <p class="font-ralewayBold text-[36px]">Unsere <span class="text-primary">Teams </span></p>
    <p class="text-[12px]  lg:text-[16px]">Wir stellen für Sie Teams je nach Ihrem Bedarf in einer Größe von 3-7 Entwickler:innen zusammen. Alle Entwickler:innern besitzen bei uns das gleiche Profil an Softwareentwicklungsskills und können Software in einem agilen Projektumfeld für Kunden mit europäischen Standards in Bezug auf Anforderungen und Qualität entwickeln.
    </p>
        <div id="textWithLine" class="relative h-[46px]  lg:w-[564px]">
            <h1 class="absolute font-ralewayRegular text-[12px] lg:text-[16px] z-0 text-white">Einblick in die Motivation und den Drive unserer Talente:</h1>
            <div class="relative bg-primary w-56 h-[4px] lg:h-[8px] lg:-rotate-[1.01deg] top-4 lg:top-6 left-20 lg:left-52 z-10 opacity-[60%]"></div>
            <div class="relative bg-primary w-56 h-[4px] lg:h-[8px] lg:-rotate-[1.01deg] top-4 lg:top-6 left-20 lg:left-52 z-10 opacity-[10%]"></div>
        </div>
    
    </div>
    <img src="/src/Assets/media/Video-1.webp" alt="">
    
</div>

